:root {
    --color-primary_brand: #4D5AE5;
    --color-pressed_state: #404BBF;
    --color-modal_background: #FCFCFC;
    --color-dark: #2E2F42;
    --color-success: #31D0AA;
    --color-text: #434455;
    --color-subtle_text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;
    --color-modal_overlay: #2E2F42;
    --color-hero_background: #2E2F42;
    --color-white_background: #FFFFFF;
}
html,
body {
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: #434455;
        background-color: #FFFFFF;

}
/*reset*/
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/*Header*/
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    margin-left: 30px;
}
.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-modal_overlay);
}

.header-logo:hover,.header-logo:focus {
    color: #404bbf;
}

.name-header {
    color: #2e2f42;

}
.page {
    font-style: normal;
}
.page-list {
    list-style: none;
    font-style: normal;
}
.address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.link:hover {
    color: #404bbf;
}
.link:focus {
    color: #404bbf;
}
.list {
    list-style: none;
}

/*Main*/
.section {
    background-color: var(--color-modal_overlay);
    color: #FFFFFF;
}
.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button-link {
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding 16px, 32px, 16px, 32px;
    margin: 356px, 635px, 188px, 636px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
 } 
 .button-p {
    background-color: var(--color-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding 16px, 32px, 16px, 32px;
    margin: 356px, 635px, 188px, 636px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-primary_brand);
    cursor: pointer;
 }
.button-link:hover,
.button-link:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.button-p:hover,
.button-p:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.facts-container{
    width: 1128px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 33%;
}

.fact-title {
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   margin: 12px 0 32px 0;
}

.facts {
    padding: 52px 0 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fact-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitaliz;
}

.team {
    background-color: #F4F4FD;

}

.bottom {
    background-color:#2e2f42;
}
.name-footer {
    color: #F4F4FD;
}
.text-bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin: 16px 0 16px 30px;
}

.button-link-p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.title-second_three_four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
.list-item {
    background-color: #FFFFFF;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    margin-left: 30px;
}
/*main portfolio*/